body{
    background-image: url('bg2.jpg');
     background-size: cover;         
    background-repeat: no-repeat;    
     background-position: center;    
     height: 100vh;
    justify-content: center; 
    align-items: center;
}
ul {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;            
  background-color: #333;    
}

li {
  float: left;                 
}

li a {
  display: block;
  color: rgb(11, 143, 252);            
  text-align: center;
  padding: 14px 16px;          
  text-decoration: none;      
  font-family: Arial, sans-serif;
  font-size: 17px;
}

li a:hover {
  background-color: #111;      
}