body{
    background-image: url('background.jpg');
  background-size: cover;         
  background-repeat: no-repeat;    
  background-position: center;    
  height: 100vh;
  justify-content: center; 
  align-items: center;
}
h1{
    color :rgb(90, 123, 254);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

form{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(114, 180, 239);
    align-self: center;
    width:400px;
    height: 180px;
    text-align: center;
    border: solid;
    border-color: white;
    background-color: rgb(0, 0, 02);
    border-radius: 5px;
    margin: 0 auto;  /* centers horizontally */
  display: block;
  width: 300px

}